.nav-link {
  color: #052C65;
}

.nav-link svg {
  fill: #052C65;
}

.nav-link.active {
  color: white !important;
  background-color: #0D6EFD !important;
}

.nav-link.active svg, .nav-link:focus svg, .nav-link:hover svg {
  fill: white;
}

.nav-link:focus, .nav-link:hover {
  color: white !important;
  background-color: #0D6EFD !important;
}

.dropdown-item {
  padding: 0 !important;
}

#aside {
  position: fixed;
  width: 230px;
  padding: 0 !important;
  height: 100vh;
  overflow-y: hidden;
  z-index: 1038;
}

.active {
  color: white ;
  background-color: #0D6EFD ;
}