<div class="edit-income-expenses">
    <h1 class="h1 fw-medium text-primary-emphasis" style="font-size: 40px; margin-bottom: 40px ">
        Редактирование дохода/расхода
    </h1>
    <section class="content d-flex flex-wrap" style="gap: 20px">
        <div class="border-0" style="max-width: 350px; ">

            <input class="border rounded-2" type="text" placeholder="Доход" id="type"
                   style="font-size: 15px; width: 397px; margin-bottom: 10px; padding: 7px 16px;">

            <input class="border rounded-2" type="text" placeholder="Зарплата" id="category"
                   style="font-size: 15px; width: 397px; margin-bottom: 10px; padding: 7px 16px;">

            <input class="border rounded-2" type="text" placeholder="500$" id="amount"
                   style="font-size: 15px; width: 397px; margin-bottom: 10px; padding: 7px 16px;">

            <input class="border rounded-2" type="text" placeholder="11.09.2022" id="date"
                   style="font-size: 15px; width: 397px; margin-bottom: 10px; padding: 7px 16px;">

            <input class="border rounded-2" type="text" placeholder="Комментарий..." id="comment"
                   style="font-size: 15px; width: 397px; margin-bottom: 10px; padding: 7px 16px;">


            <div style="margin-top: 10px">
                <button type="button" class="btn btn-success" style="margin-right: 10px; font-size: 14px; width: 88px;">
                    Создать
                </button>
                <button type="button" class="btn btn-danger" style="font-size: 14px; width: 88px;">
                    Отмена
                </button>
            </div>
        </div>
    </section>
</div>