<div class="income-expenses">
    <h1 class="h1 fw-medium text-primary-emphasis" style="font-size: 40px; margin-bottom: 60px ">
        Доходы и расходы
    </h1>
    <section class="content">
        <div style="margin-bottom: 40px;">
            <a href="/create-income-expenses?type=income" class="text-decoration-none">
                <button class="btn btn-success" style="font-size: 14px; margin-right: 10px">
                    Создать доход
                </button>
            </a>
            <a href="/create-income-expenses?type=expense" class="text-decoration-none">
                <button class="btn btn-danger" style="font-size: 14px">
                    Создать расход
                </button>
            </a>
        </div>
        <div class="interval" style="display: flex;margin-bottom: 40px;flex-wrap: wrap;align-items: center;row-gap: 10px;">
            <button class="btn btn-outline-secondary active" style="margin-right: 20px; width: 100px;">Сегодня</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Неделя</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Месяц</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Год</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Все</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Интервал</button>
            <label for="date-start" style="margin-right: 20px; ">
                с
                <input type="date" name="date-start" id="date-start" class="border-0 text-secondary">
            </label>
            <label for="date-end" style="margin-right: 20px;">
                по
                <input type="date" name="date-end" id="date-end" class="border-0 text-secondary">
            </label>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr class="border-top">
                    <th scope="col" class="text-primary-emphasis">№ операции</th>
                    <th scope="col" class="text-primary-emphasis">Тип</th>
                    <th scope="col" class="text-primary-emphasis">Категория</th>
                    <th scope="col" class="text-primary-emphasis">Сумма</th>
                    <th scope="col" class="text-primary-emphasis">Дата</th>
                    <th scope="col" class="text-primary-emphasis">Комментарий</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <!--                заполняется в классе-->
                </tbody>
            </table>
            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop"
                 data-bs-backdrop="static"
                 data-bs-keyboard="false"
                 tabindex="-1"
                 aria-labelledby="staticBackdropLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center" style="padding: 40px 0; font-size: 20px; ">
                            Вы действительно хотите удалить операцию?
                            <div style="margin-top: 20px; ">
                                <button type="button" class="btn btn-success me-2" id="confirmDelete">
                                    Да, удалить
                                </button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                                    Не удалять
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>