<div class="dashboard">
    <h1 class="h1 fw-medium text-primary-emphasis" style="font-size: 40px; margin-bottom: 60px ">
        Главная
    </h1>
    <section class="content">
        <div class="interval"
             style="display: flex; margin-bottom: 140px; flex-wrap: wrap; align-items: center; row-gap: 10px;">
            <button class="btn btn-outline-secondary active" style="margin-right: 20px; width: 100px;">Сегодня</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Неделя</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Месяц</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Год</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Все</button>
            <button class="btn btn-outline-secondary" style="margin-right: 20px; width: 100px;">Интервал</button>
            <label for="date-start" style="margin-right: 20px;">
                с
                <input type="date" name="date-start" id="date-start" class="border-0 text-secondary"
                       style="display: inline-block; width: 120px;">
            </label>
            <label for="date-end" style="margin-right: 20px;">
                по
                <input type="date" name="date-end" id="date-end" class="border-0 text-secondary"
                       style="display: inline-block; width: 120px;">
            </label>
        </div>
        <div class="schedule d-flex justify-content-start w-auto">
            <div class="w-50" style="max-width: 450px; height: 400px;">
                <h2 class="h2 text-center" style="color: #290661; font-size: 28px;">Доходы</h2>
                <div style="height: 350px;">
                    <canvas id="myChart" width="400" height="350"></canvas>
                </div>
            </div>
            <div class="vr" style="margin: 0 84px"></div>
            <div class="w-50" style="max-width: 450px; height: 400px;">
                <h2 class="h2 text-center" style="color: #290661; font-size: 28px;">Расходы</h2>
                <div style="height: 350px;">
                    <canvas id="myChart2" width="400" height="350"></canvas>
                </div>
            </div>
        </div>
    </section>
</div>