<div class="edit-expenses">
    <h1 class="h1 fw-medium text-primary-emphasis" style="font-size: 40px; margin-bottom: 40px ">
        Редактирование категории расходов
    </h1>
    <section class="content d-flex flex-wrap" style="gap: 20px">
        <div class="border-0">
            <div style="margin-bottom: 20px">
                <input class="border rounded-1" type="text" placeholder="Название..."
                       id="name-category" style="font-size: 15px; width: 397px;">
                <span id="name-category-error" class="error invalid-feedback text-start">
                        Заполните поле
                </span>
            </div>
            <div>
                <button type="button" class="btn btn-success" style="margin-right: 10px; font-size: 14px;"
                        id="saveButton">
                    Сохранить
                </button>
                <button type="button" class="btn btn-danger" style="font-size: 14px;"
                        id="cancelButton">
                    Отмена
                </button>
            </div>
        </div>
    </section>
</div>